@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Paprika&family=Varela+Round&display=swap');

*{
  font-family:  'Comic Neue', sans-serif;
}

.filter{
    margin-top: 5%;
}

.table {
    width: 90%;
}


td, th{
    width: 25%;
    text-align: center;
}

thead,
tbody {
    width: 100%;
}

.prev, .next{
    background-color: #b154fde2;
    margin: 0px;
    color: #777;
}

.pagination{
    margin: 0px;
}